@import './test-plan-generator.component.part1.css';
@import './test-plan-generator.component.part2.css';
@import './test-plan-generator.component.part3.css';
@import './test-plan-generator.component.part4.css';
@import './test-plan-generator.component.part5.css';
